/* Default styles are for large screens, desktops. */

/* Laptops and small desktops */
@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  .publication-pic {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
  }
}

/* Tablets (Portrait and smaller laptops) */
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  #projects .about-containers {
    grid-template-columns: repeat(3, 1fr);
  }
  
  #course .about-containers {
    flex-wrap: wrap;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

/* Mobile phones */
@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  .publication .section__pic-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 300px;
  }
  
  #profile {
    height: auto;
    margin-bottom: 0;
  }
  footer .nav-links-container {
    display: none;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
    .about-pic {
    justify-content: center;
    align-items: center;
    margin-left: 2.5rem;
  }

  .publication-pic {
    align-items: center;
    margin-left: 1.3rem;
    width: 330px;
  }

  .section-container {
    justify-content: center;
  }
  
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  #profile .section__pic-container {
    width: 400px;
    height: 400px;
    margin-left: -0.6rem;
    justify-content: center;
  }
  .contact-info-upper-container {
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
  }

  .contact-title {
    margin-left: 1rem;
  }

  .btn-container {
    align-items: center;
    justify-content: center;
  }
  #techstack .details-container {
    margin-left: -0.5rem;
    margin-right: -1rem;
  }

  #about .text-container {
    margin-left: 1.5rem;
    margin-right: -1rem;
  }

  #profile .section__text {
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
  }

  #profile .social-container {
    align-items: center;
    justify-content: center;
    margin-left: 2.5rem;
  }
  
  .section__text__p2 {
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
  }
  .details-container.color-container .text-container {
    text-align: center;
    justify-content: center;
  }

  #course .details-container.color-container {
    align-items: center;
    justify-content: center;
    margin-right: 0rem;
  }

  #internship .details-container.color-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: -1.5rem;
    margin-left: 1rem;
  }

  .section__text__p1 {
    justify-content: center;
    algin-item: center;
    margin-left: 1rem;
  }

  #internship .text-container {
    justify-content: center;
    align-items: center;
  }

  .section__text {
    justify-content: center;
    align-items: center;
  }

  footer p {
    margin-left: 1.5rem;
  }

  .about-containers {
    justify-content: center;
    margin-left: 2rem;
  }

  #publication .text-container {
    margin-left: 1.5rem;
  }

  .text-container {
    justify-content:space-around;
    text-align: center;
    align-items: center;
    margin-left: 0.5rem;
  }
  .title {
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}

/* Tablets (Landscape and larger phones) */
@media (max-width: 768px) {
  .about-containers {
      grid-template-columns: 1fr;
  }
  .publication-details-container {
    text-align: center;
  }
}
